html, body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

#titulo {
  text-align: center;
}

#tabela {
  overflow-x: auto;
  display: flex;
  max-height: 40vh;
}

#base-atv, #cont-atv {
  height: 74vh;
}

table {
    border-collapse: collapse;
    overflow-y: auto;
  }

  th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
  }

  th {
    background-color: black;
    color: white;
    border: 2px solid white;
  }

  input {
    border: none;
    background-color: whitesmoke;
  }
  
#botao-v {
  display: inline-block;
  background: #7E0000;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 5px 20px;
  font-size: 1.3vw;
  margin-top: 10px;
  font-family: 'Merriweather';
}

#newline {
  margin: auto;
  border-radius: 10px;
}