#con{
    padding-top: 11px;
    padding-bottom: 11px;
}

#texto{
    padding-left: 7%;
}

#paragrafo{
    padding-left: 3%;
}

.img-fluid{
    width: 80%;
    padding-bottom: 15px;
    padding-top: 15px;
}

@media (max-width: 575.99px){
    .img-fluid-small{
        width: 70%;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    #texto{
        padding-left: 3%;
    }
    
    #paragrafo{
        padding-left: 7%;
    }

    #cont-atvd{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}