.body{
  font-family: "Roboto", sans-serif;
}

.row{
  margin: 0px;
  margin-right: 0px;
}

.container{
  padding: 50px 0;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

p,
li{
  color: black;
}

.navbar-toggler{
  right: 66px;
}

button.navbar-toggler{
  margin-right: 100px;
}

.navbar-brand{
  margin-left: 30px;
}

#nav1{
  border-bottom: 25px solid #666666;
  border-top: 25px solid #7e0000;
}

#rowCinza{
  border: #000;
  height: 25px;
  background-color: #666666;
}

header,
.navbar{
  z-index: 1;
  background-color: #ffffff;
}

.navbar-brand{
  left: 66px;
  color: #ffffff;
  padding-top: 0px;
}

#nav2{
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-brand:hover{
  color: #000000;
}

#navbar-links a{
  color: #000;
  font-size: 18px;
}
#navbar-links a:hover{
  background-color: #f5a0a071;
  color: #000000;
  box-shadow: 0px 0px 10px #0000004e;
  font-size: 20px;
}

.navbar-expand-lg .navbar .nav-link{
  padding: 1rem 0.8rem;
}
.custom-padding{
  padding-left: 15px;
  padding-right: 15px;
}

#navBarT1{
  position: relative;
  width: 100%;
  background-color: #ffffff;
  height: 75px;
  z-index: 4;
  padding: 0;
  border: none;
}

#logotelacurso{
  position: relative;
  width: 100%;
  padding: 0;
  border: none;
}

#barras{
  color: #fff;
  font-size: 28px;
}

#navBarT2{
  position: relative;
  background-color: #7e0000;
  width: 100%;
  padding: 3px;
  border-bottom: 25px solid #666666;
}

#redcenter{
  position: relative;
  width: 100%;
  padding: 0;
}

#TM1{
  margin-right: 1%;
  color: #f0f0f0;
}

#volta,
#continua{
  margin-top: 25%;
  margin-block-end: 25%;
}

#indicadores{
  bottom: -20px;
}

#Slideb{
  position: relative;
}

#pagina{
  background-color: #d9d9d9;
  max-height: max-content;
  background-image: url(../img/fundocinzafull.png);
  background-repeat: repeat-x;
  background-position: center;
  background-size: 40%;
}

#meuCarrossel{
  border-radius: 30px;
  padding-top: 10px;
}

#continua{
  right: -5%;
}

#volta{
  left: -5%;
}

@media (max-width: 570px){
  #pagina{
    background-color: #d9d9d9;
    max-height: max-content;
    background-image: url(../img/fundocinzafull.png);
    background-repeat: repeat-x;
    background-position: inherit;
  }
}

.button-container{
  display: flex;
  justify-content: space-between;
}

#home-button,
#home-button2,
#home-button3,
#mod1-button,
#mod1-button2,
#mod2-button,
#mod2-button2,
#mod3-button{
  background: #7e0000;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 5px 15px 5px 15px;
  height: auto;
  margin-top: 10px;
  font-family: "Merriweather";
  font-size: 1.5vw;
}

#ponto{
  color: #d9d9d9;
}

#fatec-logo,
#cps-logo,
#siga-logo,
#gsp-logo{
  size: 1vw;
}

#foot2{
  background-color: #d9d9d9;
}

#fundo-burndown{
  background-color: #d9d9d9;
  padding: 0px 30px;
}

#fundo-branco{
  background-color: #ffffff;
}

#fundo-branco1{
  background-color: #ffffff;
  margin-block-end: 25px;
}

#passo1{
  margin-top: 25px;
  margin-block-end: 25px;
  width: 50%;
}

#passo2{
  margin-top: 25px;
  margin-block-end: 25px;
  width: 40%;
}

#passo3{
  margin-top: 25px;
  margin-block-end: 25px;
  width: 80%;
}

#passo4{
  margin-top: 25px;
  margin-block-end: 25px;
  width: 70%;
}

.img-fluid{
  margin-top: 25px;
  margin-block-end: 25px;
  width: 100%;
  height: 20%;
}

#fajac{
  margin-top: 0px;
}