/*GERAIS*/
body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li {
    color:black ;
}

/* --------------------------------------- TELA INICIAL -----------------------------------------------------------------------------*/

/*BARRA DE NAVEGAÇÃO BRUNO MENDES*/


/*APRENDA SCRUM BIANCA LUCAS */


/*BOTÃO SAIBA MAIS BIANCA LUCAS */


/* NOSSO CURSO */

#cinzaCps{
    background-color: #F0F0F0;
    padding: 0px;
    background-image: url(../img/cps.png);
    background-repeat: no-repeat;
}

.carousel img{
    width: 100%;
    height: auto;
}

#txtNossoCurso{
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}


/*CARD MÓDULOS MARIANA RAMALHO*/


/*BOTÃO INICIAR CURSO MARIANA RAMALHO*/


/*OS DESENVOLVEDORES WILLIAN GARCIA E LUIZ EDUARDO*/


/*CONTATO RAFAEL ESTEVAM*/


/*RODAPÉ RAFAEL ESTEVAM*/


/* --------------------------------------- TELA CONTEÚDO -----------------------------------------------------------------------------*/


/*BARRA DE NAVEGAÇÃO HECLAIR */


/*CARROSSEL LUIZ EDUARDO*/


/*BOTÕES DANIEL DORNELAS */


/*RODAPÉ RAFAEL ESTEVAM */